:host {
  display: grid;
  grid-template-rows: max-content 1fr;

  .list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 16px;
  }
}
